.book-head {
    display: flex;
    margin-left: 400px;


}

.fa-solid {
    color: rgb(23, 226, 23);
    font-size: 30px;
}

.book-nav a {
    text-decoration: none;
    margin-top: 120px;
    margin-left: 60px;
    margin-right: 40px;
    color: black;

}

.book-nav a:hover {
    background-color: rgba(200, 229, 187, 0.264);
    border-radius: 40px;
    padding: 15px;
    color: black;

}

.last-nav {
    font-size: 20px;
}

#currency {
    font-size: 15px;
    border-right: 2px solid black;
}


.last-nav a {
    text-decoration: none;
    margin: 20px;
    color: black;

}

.last-nav a:hover {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.264);
    border-radius: 40px;

    color: black;
}

.destination {
    text-align: center;

}



.dest-choose {
    display: flex;
    margin-left: 350px;


}

.top-dest {
    margin: 20px;
    box-shadow: 10px 10px 10px 10px rgb(175, 120, 19);
}

.trend-dest {
    margin: 20px;
    box-shadow: 10px 10px 10px 10px rgb(92, 224, 229);
}

.food-dest {
    margin: 20px;
    box-shadow: 10px 10px 10px 10px rgb(217, 106, 182);
}

.nature-dest {
    margin: 20px;
    box-shadow: 10px 10px 10px 10px rgb(63, 95, 40);
}

.wint-guide {

    position: relative;
    text-align: center;
    color: rgb(4, 1, 1);
    font-size: 20px;
    margin: 80px;
    border-radius: 20px;
}

.guide-text {
    position: absolute;
    bottom: 40px;
    left: 450px;
}

.guide-btn {
    text-decoration: none;
    background-color: rgb(75, 59, 59);
    color: white;
    margin: 10px;
    padding: 4px 10px;

    border-radius: 10px;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;

}