body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.bg-image {
    /* Full height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Images used */
.img1 {
    background-image: url("Elements/Marayong-tong/mt.jpeg");
}

.img2 {
    background-image: url("Elements/Marayong-tong/mt1.jpg");
}

.img3 {
    background-image: url("Elements/Marayong-tong/mt2.jpg");
}

.img4 {
    background-image: url("img_nature.jpg");
}

.img5 {
    background-image: url("img_forest.jpg");
}

.img6 {
    background-image: url("img_woods.jpg");
}