.top-banner {
    background-image: url(Elements/Images/exp-bg.png);
    background-repeat: no-repeat;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

body {

    font-family: "Audiowide", sans-serif;
    margin: 0%;

}

.half-width {
    width: 50%;

    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 150px;

}


.boking-btn {
    text-decoration: none;
    background-color: orange;
    padding: 8px 8px 8px 8px;
    border-radius: 4px;
}

.mid-banner {
    background-image: url(Elements/Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 40%;
}

#intro-part {
    display: flex;


}

.one-third {
    width: 50%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 10px 10px rgb(86, 83, 56);
    padding: 20px;

}

#spot-one {
    background-image: url(Elements/Images/spot-1.jpeg);
    background-position-y: 50%;
    background-position-x: 50%;
    background-size: 700px;
    background-repeat: no-repeat;
    %;
}

#spot-two {
    background-image: url(Elements/Images/spot-2.jpg);
    background-position-y: 50%;
    background-position-x: 50%;
    background-size: 700px;
    background-repeat: no-repeat;
}

#spot-three {
    background-image: url(Elements/Images/spot-3.jpeg);
    background-position-y: 50%;
    background-position-x: 50%;
    background-size: 700px;
    background-repeat: no-repeat;
}